<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/Problemopen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("header.ejs") %>
    <%- include("sidebar.ejs") %>
        <div class="mainpage">
            <div class="toptop">
                <div class="top">
                    <div class="searchques">
                        <h1 class="outfit"><%= question.heading %></h1>
                    </div>
                </div>
                <div class="po_qdetails outfit">
                    <p>Viewed <%= question.views %> times</p>
                </div>
                <div class="searchquesinput">
                    <div class="outfit po_reward">
                        <p>A Reward of +<%= question.wealth %> wealth  is offered for this question   <span>✨</span></p>
                    </div>
                    <div class="input-container">
                        <div class="input">
                          <form action="">
                            <div class="advsearch">
                              <input type="text" placeholder="Search a Question">
                              <button type="submit"><img src="/assets/search.png" alt=""></button>
                            </div>
                          </form>
                        </div>  
                        <div class="hidden-div">
                            <p>Filters will go here</p>
                        </div>
                    </div>                    
                    <div class="filter">
                        <button><img src="/assets/filter (1).png" alt=""></button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="po_main">
                <div class="po_question">
                    <div class="po_qelab">
                        <div class="updownvote">
                            <div class="upvote-triangle"></div> 
                            <div class="po_qnoofvotes outfit"><p><%= question.votes %></p></div>
                            <div class="downvote-triangle"></div>
                            <div><img src="/assets/save.png" alt="" class="po_save"></div>                           
                        </div>
                        <div class="po_qdesc outfit">
                            <div>
                                <p>
                                    <%= question.desc %>
                                </p>
                            </div>
                            <div class="po_qtags">
                                <% question.tags.forEach((tag) => { %>
                                    <div><p><%= tag %></p></div>
                                <% }) %>
                            </div>
                            <div class="po_user">
                                <div class="po_useruser">
                                    <img src="/assets/duck_with_A_gun 1.png" alt="">
                                    <p><%= question.asker %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="outfit">
                        <div class="po_ansheading">
                            <p>Answers :</p>
                        </div>
                        <% question.answers.forEach(answer => { %>
                            <div class="po_anselab">
                              <div class="ansupdownvote">
                                <div class="upvote-triangle"></div> 
                                <div class="po_qnoofvotes outfit"><p><%= answer.votes %></p></div>
                                <div class="downvote-triangle"></div>
                              </div>
                              <div class="po_ansdesc outfit">
                                <p><%= answer.desc %></p>
                              </div>
                            </div>
                            <hr class="hr_answer">
                          <% }) %>
                    </div>
                    <div class="outfit po_userans">
                        <div class="po_useransheading"><p>Answer to the Question :</p></div>
                        <div class="po_useranscontainer">
                            <div class="po_useranstools">
                                <img src="/assets/bold.png" alt="">
                                <img src="/assets/italic.png" alt="">
                                <img src="/assets/heading.png" alt="">
                                <img src="/assets/codeansbox.png" alt="">
                                <div><p>Submit</p></div>
                            </div>
                            <textarea type="textarea" class="po_useransbox"></textarea>
                        </div>
                    </div>
                </div>
                <div class="po_notice outfit">
                    <div class="po_noticeboard">
                        <p>Notice!</p>
                        <hr class="noticeline">
                        <div class="po_noticenews">
                            <div>
                                <img src="/assets/pin.png" alt="">
                                <p>Abhisarga night concert ticket sale is now live! </p>
                            </div>
                            <div>
                                <img src="/assets/pin.png" alt="">
                                <p>Recharge Point now has Burgers because of a certain someone!</p>
                            </div>
                            <div>
                                <img src="/assets/pin.png" alt="">
                                <p>Enigma , E-Cell , TedX are new Trend Setters!</p>
                            </div>
                        </div>
                        <hr class="noticeline">
                        <div class="po_noticenews">
                            <div>
                                <img src="/assets/premium.png" alt="">
                                <p>Campus Connect now brings you Premium at Rupees 1000 ONLY!</p>
                            </div>
                            <div>
                                <img src="/assets/premium.png" alt="">
                                <p>Get 30% OFF using student id verification!</p>
                            </div>
                            <div>
                                <img src="/assets/premium.png" alt="">
                                <p>Campus Connect now can track your attendance for you!</p>
                            </div>
                        </div>
                    </div>
                    <div class="po_ads">
                        <h1>Ads Come here</h1>
                    </div>
                </div>
            </div>
        </div>
        <script src="/scripts/problemopen.js"></script>
</body>
</html>